<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
    <title>Página Inicial - Usuário</title>
</head>

<body>
    <!-- Header -->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Bem-Vindo(a) à Lolja de Eletrodomésticos!</h1>
                <!--Colocar o username do usuario logado-->
            </div>
        </div>
    </header>
    <!-- Navigation -->
    <nav th:replace="/fragments-user/commons/navbar :: nav"></nav>
    <!-- Main -->
    <main th:replace="/fragments-user/commons/main :: main(${produtoEletro})"></main>
    <!-- Footer -->
    <footer th:replace="/fragments-user/commons/footer :: footer"></footer>
</body>

</html>